#guardados {
    display: flex;
    flex-direction: row;
}

table {
    font-family: Arial, Helvetica, sans-serif;
}

td {
    height: 50px;
    vertical-align: center;
}

th,
td {
    padding: 15px;
    text-align: center;
}

h1, h2 {
    text-align: center;
}

/*ZELDA CSS*/

body,html {
    height: 100%;
}

.fondo_zelda {
    background: url(img/zelda_wallpaper.jpg);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body * {
    font-family: "Hylia serif";
}

@font-face {
    font-family: 'Hylia serif';
    src: url(HyliaSerifBeta-Regular.otf);
}

.contenido{ 
    margin:4px, 4px; 
    padding:4px; 
    width: 1200px; 
    height: 250px; 
    overflow-x: hidden; 
    overflow-y: auto; 
    text-align: justify;
    background-color: rgb(111, 179, 105); 
    border-width: 3px;
    border-style: solid;
    border-color: black;
} 

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(111, 179, 105); 
    color: black;
    text-align: center;
}

#p_footer {
    font-family: 'Hylia serif';
    font-weight: bold;
}

video {
    display: block;
    margin: 0 auto;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

button:hover {
    background-color: #008CBA;
    color: white;
}